<!--预览视图-->
<div class="logoWall">
    <div class="col-xs-4 col-md-2" th:each="item:${dataList}">
        <a href="javascript:void(0)" th:if="${item.linkType.isPage()}" data-page="true" th:href="@{/${item.pagePath}}">
            <img class="img-responsive center-block" res:src="${item.thumbUri}" src="http://placehold.it/174x122">
        </a>
        <a href="javascript:void(0)" th:if="${!item.linkType.isPage()}" data-page="false" th:href="${item.linkUrl}"
           th:text="${link.title}">
            <img class="img-responsive center-block" res:src="${item.thumbUri}" src="http://placehold.it/174x122">
        </a>
    </div>
</div>
<!--/预览视图-->